<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">Mysqlmysql@1</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/schoolSystem?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        
		<!-- The mapping information of entities -->
        <mapping class="org.redi.backend.Student"/>
        <mapping class="org.redi.backend.Teacher"/>
        <mapping class="org.redi.backend.Course"/>
        <mapping class="org.redi.backend.Module"/>
		
    </session-factory>

</hibernate-configuration>